PORT=5000

# MongoDB Connection String (Required)
MONGO_URI=YOUR_MONGO_URI_HERE

# Secret key for JWT signing (Required)
JWT_SECRET=YOUR_JWT_SECRET_HERE

# Must be set to 'production' in deployed environments
NODE_ENV=development

# The URL of your frontend application to allow CORS requests
# Example for Vercel: https://your-frontend-project.vercel.app
FRONTEND_URL=http://localhost:5173
